container_commands:
    01-command:
        command:        mkdir -p /tmp/ice_processor && chown -R tomcat:tomcat /tmp/ice_processor

    02-command:
        command:        mkdir -p /tmp/ice_reader && chown -R tomcat:tomcat /tmp/ice_reader

    03-command:
        command:        [ -f /usr/share/tomcat7/webapps/probe.war ] || cp /tmp/probe.war /usr/share/tomcat7/webapps/probe.war
