container_commands:
    01-command:
        command: "mkdir -p /tmp/ice_work/processor && chown -R tomcat:tomcat /tmp/ice_work/processor"

    02-command:
        command: "mkdir -p /tmp/ice_work/reader && chown -R tomcat:tomcat /tmp/ice_work/reader"

    03-command:
        ignoreErrors: true
        command: "[ -f /usr/share/tomcat7/webapps/probe.war ] || cp /tmp/probe.war /usr/share/tomcat7/webapps/probe.war"
