{
  "option_settings": [
    {
      "namespace": "aws:elasticbeanstalk:container:tomcat:jvmoptions",
      "option_name": "Xms",
      "value": "512m"
    },
   {
      "namespace": "aws:elasticbeanstalk:container:tomcat:jvmoptions",
      "option_name": "Xmx",
      "value": "1G"
    },
    {
      "option_name": "NINJA",
      "value": "BUTTERFLY"
    }
  ]
}
